<nav>
    <h1>8 Puzzle</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/newGame/">New Game</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/verify/">Verify a Solution</a>
        </li>

    </ul>
</nav>